# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Secrets & creds
*.json
!**/*.example.json
service-account*.json
.env

# OS
.DS_Store
Thumbs.db